/* Template by BGA */
/* https://nanos.jp/109271/ */

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Shippori+Mincho&display=swap');

body {
font-family: "Noto Sans JP", sans-serif;
margin: 50px 200px 50px 200px;
color: #222;
background: #fcf1e3;
}

a {
text-decoration: none;
color:#222
}

.logo {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 20px;
letter-spacing: 2px;
}

.line {
width: 100px;
height: 1px;
background: black;
transform: rotate(45deg);
margin-right: 20px;
}

.title {
font-family: "Poiret One", sans-serif;
text-align: right;
flex: 1;
}

.title h1 {
font-size: 40px;
font-weight: 200;
margin: 0;
}

.title p {
font-size: 12px;
color: #555;
margin: 0;
}

/* メイン画像設定 */
.main-image {
width: 100%;
height: 300px;
background-image: url("#画像URL#");
background-size: cover; 
background-position: center;
box-sizing: border-box;
}
.contents {
display: flex;
margin-top: 20px;
}

/* メニューリンク設定 */
.links {
border-right: none;
position: relative;
padding-right: 40px;
}

.links::after {
content: "";
position: absolute;
right: -10px;
top: 0;
width: 1px;
height: 100%;
background: linear-gradient(to bottom, #ccc 0%, transparent 90%);
}

.links ul {
list-style: none;
padding: 0;
margin: 0;
font-family: "Poiret One", sans-serif;
font-weight: 200;
font-size: 20px;
}

.links li {
margin-bottom: 10px;
cursor: pointer;
line-height: 50px;
}

.links a{
color: #222;
text-decoration: none;
}

.links a:hover{
color: #fff;
text-shadow:
0 0 7px #fff,
0 0 10px #fff,
0 0 20px #fff,
0 0 40px #b2ebf5,
0 0 80px #b2ebf5,
0 0 90px #b2ebf5
}

/* 説明欄の設定*/
.info {
flex: 1;
padding-left: 40px;
font-family: "Poiret One", sans-serif;
}

.info h2 {
font-size: 30px;
margin-top: 0;
font-weight: 200;
}

.info p {
font-size: 12px;
line-height: 30px;
}

.info a {
color: #222;
font-weight: 200;
text-decoration: none;
background-image: url("#画像URL#");
background-size: cover; 
padding: 0px 10px;
}

@media screen and (max-width: 700px) {
body {
margin: 30px 20px;
}

.logo {
flex-direction: column;
align-items: flex-end;
margin-bottom: 10px;
}

.line {
display: none;
}

.line {
margin: 0 0 10px 0;
transform: rotate(45deg);
}

.title h1 {
font-size: 28px;
}

.title p {
font-size: 11px;
}

.main-image {
height: 180px;
background-position: center;
}

.contents {
flex-direction: column;
margin-top: 15px;
}

.links {
flex: 0 0 50px;
border-right: none;
border-bottom: 0.5px solid black;
padding-bottom: 4px;
margin-bottom: 8px;
}

.links li {
display: inline-block;
margin-right: 12px;
line-height: 1.2;
}

.info {
padding-left: 0;
}

.info h2 {
font-size: 22px;
}

.info p {
font-size: 12px;
}
}
